.collapsedContents {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    /* left: 0; */
    right:0;
    background-color: white;
    border-right-color: #ececec;
    border-right-style: solid;
    border-right-width: 2px;
    position: fixed;
  
    @media (width <=992px) {
  
      position: absolute;
      width: 300px
    }
  }
  
  .loginNavStyles {
    display: flex;
    justify-content: flex-start;
    padding: 6px 10px;
  }
  
  .closeButtonControl{
    display: none;
  
    @media (width<= 992px) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  
  
  .linkTag {
    color: black;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .linkTag.active {
    background-color: #B48F5A;
    color: white
  }
  
  .navbarListItems {
  
    list-style-type: none;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  
  }
  
  .collapsedContentsTranslate {
    transform: translateX(0%);
  
  
    @media (width <=992px) {
      transform: translateX(-100%);
  
    }
  }
  
  
  .navigationAnimation {
    animation: slideIn 1s ease-in-out;
  
  }
  
  .navigationAnimationRevert {
    animation: slideOut 1s ease-in-out;
  }
  
  @keyframes slideIn {
  
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0);
    }
  
  }
  
  @keyframes slideOut {
  
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-100%);
    }
  
  }
  
  .navCloseButton {
    border: none;
    color: #B48F5A;
    background: none;
  }

  .subProp {
    padding-top: 15px;
    padding-bottom: 15px;

    @media (width>=992px) {
      padding-top: 20%;
      border: none;
    }
   
  }